@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background-color: #fafafa;
}

a {
  color: #000;
}

.container {
  width: 100%;
}

.topbar {
  background-color: #fff;
  box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
  display: block;
  position: fixed;
  top: 0;
  width: 100%;
}

.topbar .container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 8px 16px;
}

.topbar__logo {
  height: 40px;
}

.topbar__logo img {
  height: 100%;
}

.topbar__icon {
  padding: 0 6px;
}

.topbar__icon i {
  font-size: 1.6rem;
}

.stories {
  align-items: center;
  display: flex;
  margin-top: 56px;
  padding: 16px 0;
}

.stories__profile {
  border-radius: 50%;
  height: 78px;
  margin: 0 8px;
  width: 78px;
  padding: 3px;
}

.stories__profile img {
  border: 2px solid #fff;
  border-radius: 50%;
  height: 100%;
  width: 100%;
}

.stories__profile--new {
  background: linear-gradient(45deg, rgba(245,160,77,1) 0%, rgba(160,15,139,1) 100%);
}
